/*IBM Plex Mono*/
@font-face {
    font-family: "IBM Plex Mono";
    src: url("font/IBM_Plex_Mono/IBMPlexMono-Medium.ttf") format("truetype-variations");
    font-weight: 100 900;
    font-style: normal;
}

/*Raleway*/
@font-face {
    font-family: "Raleway";
    src: url("font/Raleway/Raleway-VariableFont_wght.ttf") format("truetype-variations");
    font-weight: 100 900;
    font-style: normal;
}

:root {
    --main-color: #00A190;
    --size-avatar: 450px
}

* {
    font-family: "IBM Plex Mono";
}

html, body {
    width: 100vw;
    height: 100vh;
}

p {
    margin-bottom: 0;
}

div.bg-gradient {
    background-image: linear-gradient(120deg, #00A123, #007DA1) !important;
}

div#box-avatar {
    width: var(--size-avatar);
    height: var(--size-avatar);
    border: 1px solid var(--main-color);
    border-radius: 50%;
    overflow: hidden;
    background-image: linear-gradient(10deg, #004AA1, #00A190);
}

div#box-avatar img {
    width: 100%;
    object-fit: contain;
}

p.say-hello:first-child {
    font-size: calc(var(--size-avatar) * 0.1);
    letter-spacing: 50px;
}

p.say-hello {
    font-family: "Raleway";
    font-size: calc(var(--size-avatar) * 0.3);
    font-weight: 900;
    text-transform: uppercase;
    line-height: 80px;
}

p.say-hello:last-child {
    text-color: white;
}

p#job {
    font-size: calc(var(--size-avatar) * 0.2);
    text-transform: capitalize;
}

.btn-success-custom {
    font-size: calc(var(--size-avatar) * 0.09);
    text-decoration: none;
    padding: 1.3rem;
    color: #007DA1;
    text-transform: capitalize;
    border: 0.2rem solid #007DA1;
    border-radius: 1rem;
    cursor: pointer;
}

.btn-success-custom:hover{
    background-color: #007DA1;
    color: white;
}

/*override bg-secondary-subtle*/
.bg-secondary-subtle {
    background-color: rgba(33, 36, 40, 0.9) !important;
}
